<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>DEMO APP!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/chunk-vendors.37f32fd6.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.5d70b51b.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
    <div id="page-content-wrapper">
        <div id="app"> <p> test </p></div>
    </div>
</div>

<script src="/js/chunk-vendors.b0448374.js"></script>
<script src="/js/app.e434df8c.js"></script>
</body>
</html>